:root {
    --intro-1-font-family: "Inter", Helvetica;
    --intro-1-font-weight: 400;
    --intro-1-font-size: 12px;
    --intro-1-letter-spacing: 0px;
    --intro-1-line-height: normal;
    --intro-1-font-style: normal;
}
